<div class="min-h-dvh flex flex-col text-gray-100 font-code md:bg-gray-900">
  <header class="md:bg-gray-800 md:bg-gradient-to-t from-[#152331] to-[#000000] text-[#16A085] py-4 shadow-lg hidden md:block">
    <div class="container mx-auto px-4">
      <h1 class="text-2xl font-bold"><span class="texto-palo-alto">&lt;Facundo Morán/&gt;</span></h1>
      <!-- <nav class="mt-2">
        <ul class="flex space-x-4">
          <li><a routerLink="/" class="hover:text-green-300 transition-colors duration-200">Home</a></li>
          <li><a routerLink="/about" class="hover:text-green-300 transition-colors duration-200">About</a></li>
          <li><a routerLink="/projects" class="hover:text-green-300 transition-colors duration-200">Projects</a></li>
        </ul>
      </nav> -->
    </div>
  </header>

  <main class="flex-grow select-none w-full overflow-scroll md:h-auto md:mx-auto md:py-8 md:overflow-visible">
      <router-outlet></router-outlet>
  </main>

  <app-social-footer
    usuarioInstagram="mrnfacu"
    usuarioLinkedin="moran-facundo"
    usuarioGithub="facundo-moran"
    nombre="Facundo Morán"
  ></app-social-footer>
</div>
