<footer class="bg-gradient-to-b from-[#152331] to-[#000000] py-6">
  <div class="container mx-auto px-4">
    <div class="flex justify-center items-center space-x-6">
      <a href="https://www.instagram.com/{{ usuarioInstagram }}" target="_blank" rel="noopener noreferrer" class="hover:text-pink-400 transition-colors duration-300">
        <i class="fab fa-instagram text-2xl"></i>
        <span class="sr-only">Instagram</span>
      </a>
      <a href="https://www.linkedin.com/in/{{ usuarioLinkedin }}" target="_blank" rel="noopener noreferrer" class="hover:text-blue-400 transition-colors duration-300">
        <i class="fab fa-linkedin text-2xl"></i>
        <span class="sr-only">LinkedIn</span>
      </a>
      <a href="https://github.com/{{ usuarioGithub }}" target="_blank" rel="noopener noreferrer" class="hover:text-gray-400 transition-colors duration-300">
        <i class="fab fa-github text-2xl"></i>
        <span class="sr-only">GitHub</span>
      </a>
    </div>
    <div class="mt-4 text-center text-sm">
      <p><span class="texto-palo-alto">&copy; {{ anioActual }} {{ nombre }}.</span></p>
    </div>
  </div>
</footer>
