<!-- <button
  #btn
  class="w-full h-16 outline-none focus:outline-none hover:bg-indigo-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-light"
  [class.es-btn-operacion]="esBotonOperacion()"
  [class.es-tecla-presionada]="teclaPresionada()"
  (click)="emitirContenido()"
>
  <ng-content />
</button> -->
<button
  #btn
  class="w-full h-16 text-white text-2xl font-medium transition-all duration-200 outline-none rounded-lg mb-1 shadow-md hover:shadow-lg active:animate-pulse"
  [class.es-btn-operacion]="esBotonOperacion()"
  [class.es-tecla-presionada]="teclaPresionada()"
  (click)="emitirContenido()"
>
  <ng-content />
</button>

